.aboutme-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Align items at the top */
  padding-left: 48px;
}

.text-content, .content {
  flex: 1;
  padding-right: 200px;
}

.profile-photo {
  /* Adjust the float property for better responsiveness */
  float: right;
  margin-left: 20px; /* Add some space between the text and the image */
  width: 350px; /* Adjust based on your preference */
  height: auto;
}

.heading-hola {
  font-size: 48px;
  margin-bottom: 20px;
}

.texts {
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 150%;
  padding-right: 20px;
  font-family: "Urbanist", sans-serif;
}

.find-me {
  font-size: 18px;
  margin-bottom: 16px;
  font-family: "Urbanist", sans-serif;
}

.footer, .know-me, .designing {
  font-size: 24px;
  color: rgba(0, 83, 35, 1);
  padding-top: 48px;
  font-family: "Bree Serif", serif;
}

.behands, .layer1, .dribble {
  width: 32px;
  padding-right: 24px;
}

.images {
  padding-top: 24px;
}

@media (max-width: 768px) {
  .aboutme-container {
    padding-left: 20px; /* Less padding on smaller screens */
  }

  .text-content, .content {
    padding-right: 20px; /* Less padding for text content */
  }

  .profile-photo {
    float: none;
    margin: 0 auto; /* Center the image */
    display: block;
    width: 80%; /* Make image width responsive */
    max-width: 300px; /* Max width for larger devices */
  }

  .heading-hola {
    font-size: 36px; /* Smaller font size for headings */
    
  }

  .texts, .footer, .know-me, .designing {
    font-size: 20px; /* Slightly smaller font size for better readability */
   
  }

  .find-me {
    font-size: 16px; /* Smaller font size for subtexts */
  }

  .behands, .layer1, .dribble {
    padding-right: 12px; /* Less spacing between icons */
  }
}

/* Animation and hover effects unchanged */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  80% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.drop-letter {
  display: inline-block;
  animation: drop 0.5s ease forwards;
  transition: transform 0.2s ease; /* Smooth transition for scaling */
  cursor: progress; /* Indicates interactivity */
}

.drop-letter:hover {
  transform: scale(1.5); /* Scale letter up on hover */
}